/* CSS RESET */

html, body, div, span, object, h1, h2, h3, h4, p, a, address, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, thead, tr, th, td, blockquote , input, textarea, select
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: top; 
}

/* GENERAL DECLARATIONS */

body
{
    /* background: #fff; */    
    font-family: Arial, Sans-Serif; 
    font-size: 12px;
    line-height: 20px;
    color: #333;  
    background: #676767 url('/images/design/bg.site.jpg') left bottom repeat-x;
}

p, ul, ol
{
    margin: 10px 0;
}

ul
{
    margin: 10px 0 10px 20px;
}

a
{
    color: #830;
    text-decoration: none;
}

a:hover
{
    
    text-decoration: underline;
}

h1, h2
{
    font-family: Times New Roman, Serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
    color: #888;
    text-transform: uppercase;
}

    h1 strong
    {
        font-weight: normal;
        color: #222;
    }

h2
{
    color: #444;
}
hr
{
    height: 1px;
    background: #444;
    border: 0px;
}

/* LAYOUT */

.layout
{
    width: 1080px;
    margin: 40px auto 0 auto;
}

.header, .page
{
    background: #fff url('/images/design/bg.page.gif');
}

.header
{
    height: 80px;
    padding: 20px 40px;
    border-radius: 10px 10px 0 0;
}

    .navmenu
    {
        padding: 30px 0px 30px 20px;
        height: 20px;   
        text-align: right;  
    }
    
    .navmenu a
    {
        margin: 0 0 0 15px;
        padding: 10px;
        line-height: 20px;
        font-size: 16px;
        color: #222;
        text-transform : uppercase; 
        text-decoration: none;   
    }
    
    .navmenu a:hover, 
    .navmenu a:active
    {
        color: #fff;
        background: #830;
        text-decoration: none;
    }

.page
{
    min-height: 500px;
    padding: 0px 40px 40px 40px;
    border-radius: 0 0 10px 10px;
}

.pages
{
    display: none;
    height: 600px;
}

/*
.page-home
{
    background: #fff url('/images/design/header.home.jpg') no-repeat;
}

.page-services
{
    background: #fff url('/images/design/header.services.jpg') no-repeat;
}

.page-insurance
{
    background: #fff url('/images/design/header.insurance.jpg') no-repeat;
}

.page-info
{
    background: #fff url('/images/design/header.info.jpg') no-repeat;
}

.page-contact
{
    background: #fff url('/images/design/header.contact.jpg') no-repeat;
}
*/

.page-home, .page-services, .page-insurance, .page-info, .page-contact, .page-thankyou
{
    background: none;
}

    .content
    {
        width: 1000px;
        height: 600px;
        overflow: hidden;
        box-shadow: 0 0 10px #444;
        background: #fcfaf6 url('/images/design/header.jpg') no-repeat;
    }
        
    .box
    {
        float: left;
        margin: 40px 0 0 40px;
        padding: 20px;
        background: #f5f5f5;
        border: 1px solid #ddd;
        opacity: 0.9;
        box-shadow: 2px 2px 5px #444;

    }
    
    .box-one
    {
        width: 880px;
        
    }
    
    .box-two
    {
        width: 400px;
    }
    
    .box-three
    {
        width: 240px;
    }
    
.homelist li
{
    margin-bottom: 10px;
}

    
.homelist 
{
    line-height: 16px;
}

.footer
{
    background: #555 url('/images/design/bg.site.jpg') left bottom repeat-x;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 10px;
}

    .footer a
    {
        font-size: 16px;
        color: #fff;
        border-bottom: 1px dotted #fff;
        text-decoration: none;
    }

    .footer a:hover
    {
        border-bottom: 0px;
    }

/* FORMS */

.button
{
    background: #000;
    line-height: 20px;
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover
{
    background: #830;
    text-decoration: none;
}

fieldset
{
    margin: 10px 0;
}

label
{
    display: inline-block;
    width: 80px;
    text-align: right;
    padding: 0 20px 0 0;
}

input[type=text], textarea, select
{
   border: 1px solid #888;
   background: #fff;
   color: #222;
   height: 20px;
   padding: 5px;
   width: 280px;
}

select
{    
    line-height: 20px;
    box-sizing: content-box; 
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box; 
}

textarea
{
    height: 160px;
}
  
/* INLINE REPLACEMENTS */

.floatleft
{
    float: left;
}

.floatright
{
    float: right;
}

.brandcolor
{
    color: #893300;
}

.strong
{
    font-weight: bold;
}

